*,
html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
svg {
    position: absolute;
}
.circle {
    width: 22rem;
    height: 21rem;
    margin-left: .8rem;
    background-color: #1c1c3a;
    border-radius: 30% 70% 70% 30% / 30% 36% 64% 70% ;
    position: absolute;
}
canvas {
    background-color: #1c1c3a;
    border-radius: 50%;
    position: relative;
}

@media screen and (max-width:375px) {
    canvas {
        width: 60vw;
    }
    .circle {
        width: calc(80%);
        height: calc(90%/1.8);

    }
 
}
